* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  }
  
  .div-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .div-background img{
    object-fit: contain;
    
  }
  
  body{
  /*     background-image: url(https://images4.alphacoders.com/235/235738.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    background-position: center center;  */
    margin: 0;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1{
    margin-left: 45%;
    font-size: 40px;
    text-shadow: rgb(255, 0, 0) 8px 2px 8px;
  }
  
  .menu-bars{
    color: rgb(0, 0, 0) !important;
  }
  
  /* #sidebar a{
    text-decoration: none;
    color: aquamarine;
  }
  
  li{
    list-style-type: none;
    padding: 15px;
  }
  
  #sidebar li:hover{
    background-color: rgb(126, 125, 123);
  }
  
  li:hover{
    background-color: rgb(126, 125, 123);
  } */

  .slider div{
    background-color: aquamarine;
    width: 100%;
    height: 600px;
  }

  .slider img{
    width: 1600px;
    height: 800px;
  }

  .slider{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .show{
    display: block;
  }
  
  .hide{
    display: none;
  }
  
  #logout{
    position: absolute;
    padding: 15px;
    top: 25%;
    left: 0;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    box-shadow: 8px 8px 5px #aaa;
    text-decoration: none;
    
  }
  
  .logout-button {
    position: relative;
    width: 100%;
  } 
  
  .logout-button div{
    position: relative;
    width: 50%;
    height: 50%;
    margin-left: 70%;
  }  
  
  /*  .logout-button > div > div{
    position: absolute;
    right: 0%;
  }
  
  .logout-button > div > div > a{
    text-decoration: none;
    border: #000 solid 1px;
  }  */ 
  
  .abrir-menu{
    border: orange 1px solid;
    width: 10rem; 
  }
  
  .abrir-menu > a{
    position: relative;
    top: 5%;
    left: 40%;
    text-decoration: none;
    color: #000;
    font-size: 32px;
  }
  
  .sidebar-hidden{
    display: none;
  }
  
  .sidebar-show{
    background-color: black;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
  }
  
  #sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 3rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
    z-index: 999;
    color: brown;
  }
  
  .boton-cerrar:hover{
    background-color: rgb(126, 125, 123);
  }
  
  .carta-hidden{
    display: none;
  }
  
  .menu-list > ul{
    top: 2.5rem;
    position: relative;
  }
  
  #carta-list{
    background-color: brown;
  }
  
  .menu-list li{
    list-style-type:none;
    position:relative;
    width:100%;
    height: 100%;
    padding: 0.5rem;
  }
                
  li a{
    text-decoration:none;
    display: inline-block;
    padding: 15px;
    width:100%;
    border:1px solid #000;
    color:#fff;
    background-color:#000;
  }
            
  .menu li a:hover{
    color:#000;
    background-color:#fff;
                
  }
  
  
  .login-box{
  /*     border: red solid 1px; */
    height: 300px;
    width: 100%;
  }
  
  .login-box div{
  /*     border: yellowgreen solid 1px; */
    height: 150px;
  }
  
  input[type='email'], 
  input[type='password'],
  input[type='text'],
  input[type='date']{
    background-color: black;
    border: none;
    border-bottom: brown 1px solid;
    width: 70%;
    padding: 16px;
    margin: 5px;
    left: 6%;
    position: relative;
    color: white;
  }
  
  .register-form input{
    background-color: black;
    border: none;
    border-bottom: brown 1px solid;
    top: 10%;
    width: 80%;
    padding: 20px;
    margin: 5px;
    left: 8%;
    position: relative;
    color: white;
  }
  
  .register-form input[type='submit']{
    left: 8%;
  }
  
  .reservas-form input{
    background-color: black;
    border: none;
    border-bottom: brown 1px solid;
    top: 10%;
    width: 80%;
    padding: 20px;
    margin: 5px;
    left: 8%;
    position: relative;
    color: white;
  }
  
  .reservas-form input[type='submit']{
    left: 8%;
  }
  
  input[type='submit']{
    background-color: brown;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: white;
    left: 6%;
    position: relative;
    border-radius: 4px;
  }
  
  .datos-reserva{
    position: absolute;
    /* border: 1px solid red; */
    left: 25%;
  }
  
  .datos-reserva > div{
    position: absolute;
    border: 1px solid rgb(0, 0, 0);  
    width: 80%;
    height: 25%;
    top: 35%;
    left: 25%;
    border-radius: 10px;
    background-color: #000; 
    box-shadow: 15px 10px 5px #aaa;
    text-shadow: 5px 2px 5px #aaa;
  }
  
  .datos-reserva > div > label{
    position: relative;
    font-size: 24px;
    left: 20%;
    top: 10%;
    color: #fff;
  }
  
  #cancelar{
    position: absolute;
    left: 32.5% ;
    top: 70%;
  }
  
  select {
    position: absolute;
    border: 1px solid brown;
    color: white;
    background-color: #000;
    padding: 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 6px;
    left: 8%;
  }
  
  .button-horario:hover {
    background-color: #aaa;
  }
  
  #reserva-box{
    background-color: #000;
    z-index: 2;
    color: #fff;
    left: 25%;
    top: 10%;
    box-shadow: 15px 10px 5px #aaa;
    border-radius: 5px;
  }
  
  #register{
    position: absolute;
    right: 40px;
    color: brown;
  }
  
  #register-box{
    /* border: rgb(0, 0, 0) solid 1px; */
    background-color: #000;
    z-index: 2;
    position: absolute;
    width: 50%;
    height: 80%;
    left: 25%;
    top: 10%;
    box-shadow: 15px 10px 5px #aaa;
    border-radius: 5px;
    display: flex;
  }
  
  #register-box div{
    /* border: red solid 1px; */
    width: 70%;
    height: 80%;
    position: absolute;
    left: 16%;
    top: 10%;
  }
  
  .general{
    width: 100%;
    height: 100%;
  }
  
  
  .main-div{
  /*     border: red solid 1px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89.5%;
  }
  
  .main-div .div1{
    /*     border: blue solid 1px; */
        width: 100%;
        height: 10%;
        display: flex;
    }
    
    .main-div .div1 > div{
    /*     border: rgb(0, 255, 21) solid 1px; */
        width: 50%;
        height: 100%;
        display: flex;
    }
  
  .entrantes{
    width: 100%;
    background-color: red;
  }

  
  footer {
    padding: 2em 0;
    background:rgb(0, 0, 0);
    color:white;
    margin-top: auto;
    width: 100%;
  }

  .footer {
    position: absolute;
    background:black;
    color:white;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  
  .box-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 80px;
  }

  .box-footer-carta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .box-footer-carta a{
    position: relative;
    top: 20px !important;
  }

  .info{

    max-width: 1200px;
    padding: 1.5em;
    top: 10%;
    margin-left: 18%;
  }

  .group-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding: 1.5em 0;
  }

  .info ol{
    margin-left: 1%;
  }
  
  .box-footer a{
    position: relative;
    top: 14px !important;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  
  .container1 {
    max-width: 1200px;
    padding: 1.5em;
    top: 10%;
    margin-left: 18%;
  
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc; 
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    
  }
  
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-image:hover {
    transform: scale(1.5,1.5);
    cursor: pointer;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }
  
  
  /* .box1{
    display: flex;
    width: 36.5%;
    left: 32%;
    position: relative;
    padding: 15px; 
  } */
  
  .cancel-box{
    margin-left: 42% ;
    margin-top: 2%;
    background-color: black;
    border: solid 2px black;
    border-radius: 3px;
    box-shadow: #333 10px 10px;
    color: #fff;
    width: 300px;
  }
  
  .cancel-box form{
    
  }
  
  .container{
    padding: 16px;
    margin-left: 15%;
  }
    
  @media screen and (min-width: 994px) {

    .slider div{
      width: 100%;
      height: 600px;
    }
    
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  
    iframe{
        position:relative;
        width: 300px;
        height: 300px;
    }
    .box1 div{
        width: 300px;
    }
  }

  